$color1: #0c0116;
$color1-hover: #000000;
$color2: #ffffff;
$color2-hover: #ffdd55;
$color3: #ffdd55;
$color3-hover: #ffcc00;

$theme-colors: (
	"primary": $color1,
	"secondary": $color2,
	"third": $color3,
);

@import "~bootstrap/scss/bootstrap";

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: $color2;
}
::-webkit-scrollbar-thumb {
	background: $color1;
}
::-webkit-scrollbar-thumb:hover {
	background: $color1-hover;
}
